body{
    font-family: 'montserrat' , sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
}

.nav{
    background-color: black;
    position: sticky;
    width: 100vw;
    height: 70px;
}

.sidebar{
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    background-color: #121212;
    width: 340px;
    height: 100vh;
    border-radius: 1rem;
    margin: 10px;
    margin-right: 5px;
    flex-wrap: wrap;
}

.lib_options{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lib_options .lib a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    top: -5px;
    margin: 5px;
}

.icons{
    font-size: 25px;
    font-weight: 100;
}

.icons i{
    margin: 5px;
    padding: 10px;
}

.lib img{
    width: 25px;
}

.lib-box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 500;
}

.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.main-content{
    flex: 1;
    background-color: #121212;
    overflow: auto;
    border-radius: 1rem;
    margin: 10px;
    margin-left: 5px;
}

.music-player{
    background-color: black;
    position: sticky;
    bottom: 0;
    width: 100vw;
    height: 72px;
}